$inverse: #273246;

$primary: #005ba7;
$accent: #005ba7;

$bg1: #ffffff;
$bg2: #f3f3f3;

$color1: #1e1e1e;
$color2: #5b5b5b;
$color3: #d7d7d7;
$color4: #ffffff;

$gray1: #505050;
$gray2: #9e9e9e;
$gray3: #ececec;
$gray4: #f4f4f4;