@import "colors";

table.pretty-table {
  border: none;
  border-collapse: collapse;
  width: 100%;
  color: $color1;

  td {
    padding: 12px 16px;
  }

  th {
    padding: 16px;
    text-transform: capitalize;
  }

  td, th {
    text-align: left;
  }

  tr {

    &:hover {
      background-color: $gray3;
    }
  }

  tr:first-child {
    &:hover {
      background: none;
    }
  }
}