@import "normalize";

$font-family: 'Roboto', 'Helvetica', sans-serif;
html, body {
  font-family: $font-family;
}

@supports (grid-area: auto) {
  .site {
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header main" "nav main" "footer main";
  }

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
    min-width: 200px;
  }

  .main {
    grid-area: main;
  }

  .footer {
    grid-area: footer;
  }
}

.nav {
  color: rgb(255, 255, 255);
  background-color: #172828;
  padding-bottom: 12px;

  > * {
    display: block;
    cursor: default;
    user-select: none;
  }

  > *:first-child {
    margin-top: 16px;
  }

  > a > i.material-icons:first-child {
    vertical-align: middle;
    margin-right: 12px;
  }

  > a {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
      background-color: #2a4646;
    }
  }

  > span {
    margin-top: 16px;
    padding: 8px 16px;
    font-size: 0.9em;
    color: rgba(255, 255, 255, 0.5);
  }
}

.main {
  padding: 0 48px;

  > *:first-child {
    margin-top: 72px;
  }

  > *:last-child {
    margin-bottom: 56px;
  }

  > * {
    max-width: 225mm;
    margin: 32px auto 0;
  }
}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 2;
  box-sizing: border-box;
  overflow: auto;
}

/*
PAGE LAYOUTS
 */
.layout-table {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  table {
    width: 100%;
    margin: 0;
    border-spacing: 0;
    border-collapse: collapse;
  }
  th {
    font-weight: 400;
    padding: 12px 8px;
    border-bottom: 1px solid #e2e2e2;
    cursor: default;
  }

  td {
    padding: 16px 8px;
    text-align: center;
    border-bottom: 1px solid #e2e2e2;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tbody tr:hover {
    background-color: #fafafa;
  }

  > * {
    margin-left: 16px;
    margin-right: 16px;
  }
}

/*
PAGE TABLE
 */
